{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <style>
        :root {
            --slide-image: url("{% static 'shop/images/slide_1_1600.jpg' %}");
        }
    </style>
    <link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">

    <!-- Банер меблів -->
    <div class="furniture-header">
        <img class="furniture-banner-image" src="{% static 'shop/images/furniture-banner.jpg' %}" alt="Furniture">
    </div>

    <!-- Зображення меблів з описом та посиланням на сторінку заказу -->
    <div class="furniture-items">
        {% for product in furniture %}
            {% with image_url=product.pk|stringformat:"shop/images/furniture_{}.jpg" %}
                <div class="furniture-item">
                    <a href="{% url 'shop:furniture_detail' pk=product.pk %}">
                        <img src="{% static image_url %}" alt="{{ product.name }}">
                        <p>{{ product.name }}</p>
                        <p>{{ product.description }}</p>
                    </a>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
